<div class="p-2 border border-dark" id="what_to_send">
    <h3>What to send</h3>
    {# Include retweets? #}
    <div class="form-check form-switch">
        <label class="form-check-label" for="send_retweets">Send retweets?</label>
        <input class="form-check-input"
               type="checkbox"
               role="switch"
               name="send_retweets"
               id="send_retweets"
               {% if settings.send_retweets %}checked{% endif %}
               value="True"
        />
        <div id="send_retweets_help" class="form-text">
            Whether or not you want retweets to be sent to Discord.
        </div>
    </div>

    {# Include replies? #}
    <div class="form-check form-switch">
        <label class="form-check-label" for="send_replies">Send replies?</label>
        <input class="form-check-input"
               type="checkbox"
               role="switch"
               id="send_replies"
               name="send_replies"
               {% if settings.send_replies %}checked{% endif %}
               value="True"/>
        <div id="send_replies_help" class="form-text">
            Whether or not you want replies to be sent to Discord.
        </div>
    </div>
</div>
