<div class="p-2 border border-dark" id="how_to_send">
  <h3>How to send</h3>
  {# Send embed or text? #} {# Send embed #}
  <div class="form-check">
    <input class="form-check-input"
           type="radio"
           name="what_to_send"
           id="send_embed"
           value="send_embed"
           checked />
    <label class="form-check-label" for="send_embed">Send Embed?</label>
  </div>
  {# Send text #}
  <div class="form-check">
    <input class="form-check-input"
           type="radio"
           name="what_to_send"
           id="send_text"
           value="send_text" />
    <label class="form-check-label" for="send_text">Send Text?</label>
  </div>
  {# Send only link #}
  <div class="form-check">
    <input class="form-check-input"
           type="radio"
           name="what_to_send"
           id="send_link"
           value="send_link" />
    <label class="form-check-label" for="send_link">Send Link?</label>
  </div>
</div>
