<div class="p-2 border border-dark" id="link_settings">
    <h3>Send link settings</h3>
    {# Send link preview #}
    <div class="form-check form-switch">
        <label class="form-check-label" for="send_as_link_preview">Send link preview</label>
        <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="send_as_link_preview"
                name="send_as_link_preview"
                {% if settings.send_as_link_preview %}checked{% endif %}
        />
        <div id="send_as_link_preview_help" class="form-text">
            Whether or not you want the link to have a preview.
        </div>
    </div>

    {# Make text a link #}
    <div class="form-check form-switch">
        <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="send_as_text_link"
                name="send_as_text_link"
                {% if settings.send_as_text_link %}checked{% endif %}
        />
        <label class="form-check-label" for="send_as_text_link">Make text a link</label>
        <div id="send_as_text_link_help" class="form-text">
            Whether or not you want the text to be a link.
        </div>
    </div>

    {# Make text a link preview #}
    <div class="form-check form-switch">
        <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="send_as_text_link_preview"
                name="send_as_text_link_preview"
                {% if settings.send_as_text_link_preview %}checked{% endif %}
        />
        <label class="form-check-label" for="send_as_text_link_preview">Should the link make a preview in
            Discord?</label>
        <div id="send_as_text_link_preview_help" class="form-text">
            Should the link make a preview in Discord?
        </div>
    </div>

    {# Custom URL #}
    <div class="row pb-2">
        <label for="send_as_text_link_url" class="col-sm-1 col-form-label">Custom URL</label>
        <div class="col-sm-11">
            <input
                    name="send_as_text_link_url"
                    type="text"
                    class="form-control bg-dark border-dark text-muted"
                    id="send_as_text_link_url"
                    {% if settings.send_as_text_link_url %}value="{{ settings.send_as_text_link_url }}"{% endif %}
            />
            <div id="send_as_text_link_url_help" class="form-text">
                The URL to link the text to.
            </div>
        </div>
    </div>
</div>
