{% extends 'base.html' %}
{% block header %}
    <h1>
        {% block title %}Add a feed{% endblock %}
    </h1>
{% endblock %}
{% block content %}
    <div class="p-2 border border-dark">
        <script>
            function validateForm() {
                var x = document.forms["add"]["name"].value;
                // checks if the name field is empty
                if (x == "") {
                    alert("Name must be filled out");
                    return false;
                }
                // checks if the name field contains semicolons
                if (x.includes(";")) {
                    alert("Name cannot contain semicolons");
                    return false;
                }
                // checks if the usernames field is empty
                var x = document.forms["add"]["usernames"].value;
                if (x == "") {
                    alert("Usernames must be filled out");
                    return false;
                }
                // checks if the url field is empty
                var x = document.forms["add"]["url"].value;
                if (x == "") {
                    alert("Webhook URL must be filled out");
                    return false;
                }
            }
        </script>
        <form name="add"
              action="/add"
              onsubmit="return validateForm()"
              method="post">
            <div class="row pb-2">
                <label for="feed_url" class="col-sm-1 col-form-label">Name</label>
                <div class="col-sm-11">
                    <input name="name"
                           type="text"
                           class="form-control bg-dark border-dark text-muted"
                           id="name"/>
                    <div id="feed_url_help" class="form-text">A name to identify this group. Can be anything you want.</div>
                </div>
            </div>
            <div class="row pb-2">
                <label for="feed_url" class="col-sm-1 col-form-label">Usernames</label>
                <div class="col-sm-11">
                    <textarea name="usernames"
                           class="form-control bg-dark border-dark text-muted"
                           id="usernames"
                           rows="5"></textarea>
                    <div id="usernames_help" class="form-text">
                        Twitter usernames to follow, separated by newlines.
                    </div>
                </div>
            </div>
            <div class="row pb-2">
                <label for="feed_url" class="col-sm-1 col-form-label">Webhook URL</label>
                <div class="col-sm-11">
                    <input name="url"
                           type="text"
                           class="form-control bg-dark border-dark text-muted"
                           id="url"/>
                    <div id="url_help" class="form-text">The URL of the Discord webhook you want to send tweets to.</div>
                </div>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input"
                       type="checkbox"
                       role="switch"
                       id="include_retweets"
                       name="include_retweets"
                       value="false"/>
                <label class="form-check-label" for="include_retweets">Include retweets</label>
                <div id="url_help" class="form-text">Whether or not you want retweets to be sent to Discord.</div>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input"
                       type="checkbox"
                       role="switch"
                       id="include_replies"
                       name="include_replies"
                       value="false"/>
                <label class="form-check-label" for="include_replies">Include replies</label>
                <div id="url_help" class="form-text">Whether or not you want replies to be sent to Discord.</div>
            </div>
            <div class="d-md-flex">
                <button class="btn btn-dark btn-sm">Add feed</button>
            </div>
        </form>
    </div>
{% endblock %}
