{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Add a feed{% endblock %}</h1>
{% endblock %} {% block content %}
<form name="add" action="/add" method="post">
  <div class="p-2 mb-4 border border-dark">
    <h3>Feed Details</h3>
    {# Group name #}
    <div class="row pb-2">
      <label for="name" class="col-sm-1 col-form-label">Name</label>
      <div class="col-sm-11">
        <input
          name="name"
          type="text"
          class="form-control bg-dark border-dark text-muted"
          id="name"
        />
        <div id="name_help" class="form-text">
          A name to identify this group. Can be anything you want.
        </div>
      </div>
    </div>

    {# Twitter usernames #}
    <div class="row pb-2">
      <label for="usernames" class="col-sm-1 col-form-label">Usernames</label>
      <div class="col-sm-11">
        <textarea
          name="usernames"
          class="form-control bg-dark border-dark text-muted"
          id="usernames"
          rows="5"
        ></textarea>
        <div id="usernames_help" class="form-text">
          Twitter usernames to follow, separated by newlines.
        </div>
      </div>
    </div>

    {# Webhooks #}
    <div class="row pb-2">
      <label for="webhooks" class="col-sm-1 col-form-label">Webhook URLs</label>
      <div class="col-sm-11">
        <textarea
          name="webhooks"
          class="form-control bg-dark border-dark text-muted"
          id="url"
          rows="5"
        ></textarea>
        <div id="webhooks_help" class="form-text">
          Where to send the tweets, one webhook per line.
        </div>
      </div>
    </div>
  </div>

  <div class="p-2 mb-4 border border-dark">
    <h3>What to send</h3>
    {# Include retweets? #}
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="include_retweets"
        name="include_retweets"
        value="false"
      />
      <label class="form-check-label" for="include_retweets"
        >Include retweets</label
      >
      <div id="url_help" class="form-text">
        Whether or not you want retweets to be sent to Discord.
      </div>
    </div>

    {# Include replies? #}
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="include_replies"
        name="include_replies"
        value="false"
      />
      <label class="form-check-label" for="include_replies"
        >Include replies</label
      >
      <div id="url_help" class="form-text">
        Whether or not you want replies to be sent to Discord.
      </div>
    </div>
  </div>

  <div class="p-2 mb-4 border border-dark">
    <h3>How to send</h3>
    {# Send embed or text? #} {# Send embed #}
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="send_embed"
        id="send_embed"
        value="send_embed"
        checked
      />
      <label class="form-check-label" for="send_embed"> Send Embed? </label>
    </div>
    {# Send text #}
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="send_text"
        id="send_text"
        value="send_text"
      />
      <label class="form-check-label" for="send_text"> Send Text? </label>
    </div>
    {# Send only link #}
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="send_link"
        id="send_link"
        value="send_link"
      />
      <label class="form-check-label" for="send_link"> Send Link? </label>
    </div>
  </div>

  <div class="p-2 mb-4 border border-dark">
    <h3>Embed Settings</h3>
    {# Embed color #}
    <label for="embed_color" class="form-label">Embed Color</label>
    <input
      type="color"
      id="embed_color"
      name="embed_color"
      value="#ff0000"
      class="form-control form-control-color"
    />

    {# Author name #}
    <div class="row pb-2">
      <label for="author_name" class="col-sm-1 col-form-label">Author</label>
      <div class="col-sm-11">
        <input
          name="author_name"
          type="text"
          class="form-control bg-dark border-dark text-muted"
          id="author_name"
        />
        <div id="author_name_help" class="form-text">
          The name of the author of the embed.
        </div>
      </div>
    </div>

    {# Author URL #}
    <div class="row pb-2">
      <label for="embed_author_url" class="col-sm-1 col-form-label"
        >Author URL</label
      >
      <div class="col-sm-11">
        <input
          name="embed_author_url"
          type="text"
          class="form-control bg-dark border-dark text-muted"
          id="embed_author_url"
        />
        <div id="embed_author_url_help" class="form-text">
          The URL to link the author name to.
        </div>
      </div>
    </div>

    {# Author icon URL #}
    <div class="row pb-2">
      <label for="embed_author_icon_url" class="col-sm-1 col-form-label"
        >Author Icon URL</label
      >
      <div class="col-sm-11">
        <input
          name="embed_author_icon_url"
          type="text"
          class="form-control bg-dark border-dark text-muted"
          id="embed_author_icon_url"
        />
        <div id="embed_author_icon_url_help" class="form-text">
          The URL of the author's icon.
        </div>
      </div>
    </div>

    {# Embed URL #}
    <div class="row pb-2">
      <label for="embed_url" class="col-sm-1 col-form-label">URL</label>
      <div class="col-sm-11">
        <input
          name="embed_url"
          type="text"
          class="form-control bg-dark border-dark text-muted"
          id="embed_url"
        />
        <div id="embed_url_help" class="form-text">
          The URL to link the embed title to.
        </div>
      </div>
    </div>

    {# Timestamp #}
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="embed_timestamp"
        name="embed_timestamp"
        value="false"
      />
      <label class="form-check-label" for="embed_timestamp">Timestamp</label>
      <div id="embed_timestamp_help" class="form-text">
        Whether or not you want the embed to have a timestamp.
      </div>
    </div>

    {# Footer text #}
    <div class="row pb-2">
      <label for="embed_footer_text" class="col-sm-1 col-form-label"
        >Footer</label
      >
      <div class="col-sm-11">
        <input
          name="embed_footer_text"
          type="text"
          class="form-control bg-dark border-dark text-muted"
          id="embed_footer_text"
        />
        <div id="embed_footer_text_help" class="form-text">
          The footer text.
        </div>
      </div>
    </div>

    {# Footer icon URL #}
    <div class="row pb-2">
      <label for="embed_footer_icon_url" class="col-sm-1 col-form-label"
        >Footer Icon URL</label
      >
      <div class="col-sm-11">
        <input
          name="embed_footer_icon_url"
          type="text"
          class="form-control bg-dark border-dark text-muted"
          id="embed_footer_icon_url"
        />
        <div id="embed_footer_icon_url_help" class="form-text">
          The URL of the footer icon.
        </div>
      </div>
    </div>
    {# Show title #}
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="embed_show_title"
        name="embed_show_title"
        value="false"
      />
      <label class="form-check-label" for="embed_show_title">Embed title</label>
      <div id="url_help" class="form-text">
        Whether or not you want the embed to have a title.
      </div>
    </div>
    {# Show author #}
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="embed_show_author"
        name="embed_show_author"
        value="false"
      />
      <label class="form-check-label" for="embed_show_author"
        >Embed author</label
      >
      <div id="embed_show_author_help" class="form-text">
        Whether or not you want the embed to have an author.
      </div>
    </div>
  </div>

  <div class="p-2 mb-4 border border-dark">
    <h3>Send link settings</h3>
    {# Send link preview #}
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="send_link_preview"
        name="send_link_preview"
        value="false"
      />
      <label class="form-check-label" for="send_link_preview"
        >Send link preview</label
      >
      <div id="send_link_preview_help" class="form-text">
        Whether or not you want the link to have a preview.
      </div>
    </div>
  </div>
  <div class="p-2 mb-4 border border-dark">
    <h3>Make text a link</h3>
    {# Make text a link #}
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="make_text_a_link"
        name="make_text_a_link"
        value="false"
      />
      <label class="form-check-label" for="make_text_a_link"
        >Make text a link</label
      >
      <div id="make_text_a_link_help" class="form-text">
        Whether or not you want the text to be a link.
      </div>
    </div>
    {# Make text a link preview #}
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="make_text_a_link_preview"
        name="make_text_a_link_preview"
        value="false"
      />
      <label class="form-check-label" for="make_text_a_link_preview"
        >Should the link make a preview in Discord?</label
      >
      <div id="make_text_a_link_preview_help" class="form-text">
        Should the link make a preview in Discord?
      </div>
    </div>
    {# Custom URL #}
    <div class="row pb-2">
      <label for="custom_url" class="col-sm-1 col-form-label">URL</label>
      <div class="col-sm-11">
        <input
          name="custom_url"
          type="text"
          class="form-control bg-dark border-dark text-muted"
          id="custom_url"
        />
        <div id="custom_url_help" class="form-text">
          The URL to link the text to.
        </div>
      </div>
    </div>
  </div>

  <div class="p-2 mb-4 border border-dark">
    {# Upload media to Discord #}
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="upload_media_to_discord"
        name="upload_media_to_discord"
        value="false"
      />
      <label class="form-check-label" for="upload_media_to_discord"
        >Upload media to Discord</label
      >
      <div id="upload_media_to_discord_help" class="form-text">
        Whether or not you want to upload the media to Discord.
      </div>
    </div>
    {# Append usernames to message #}
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="append_usernames_to_message"
        name="append_usernames_to_message"
        value="false"
      />
      <label class="form-check-label" for="append_usernames_to_message"
        >Append usernames to message</label
      >
      <div id="append_usernames_to_message_help" class="form-text">
        Whether or not you want to append the usernames to the message.
      </div>
    </div>
  </div>
  <div class="p-2 mb-4 border border-dark">
    <h3>Translate</h3>
    {# Should we translate the message? #}
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="translate"
        name="translate"
        value="false"
      />
      <label class="form-check-label" for="translate">Translate</label>
      <div id="translate_help" class="form-text">
        Whether or not you want to translate the message.
      </div>
    </div>
    {# Translate to #}
    <div class="row pb-2">
      <label for="translate_to" class="col-sm-1 col-form-label">Language</label>
      <div class="col-sm-11">
        <input
          name="translate_to"
          type="text"
          class="form-control bg-dark border-dark text-muted"
          id="translate_to"
        />
        <div id="translate_to_help" class="form-text">
          The language to translate the message to.
        </div>
      </div>
    </div>
  </div>

  <div class="p-2 mb-4 border border-dark">
    <h3>Whitelist</h3>
    {# Whitelist active #}
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="whitelist_active"
        name="whitelist_active"
        value="false"
      />
      <label class="form-check-label" for="whitelist_active"
        >Whitelist active</label
      >
      <div id="whitelist_active_help" class="form-text">
        Whether or not you want to use the whitelist.
      </div>
    </div>
    {# Whitelist words #}
    <div class="row pb-2">
      <label for="whitelist_words" class="col-sm-1 col-form-label"
        >Whitelist</label
      >
      <div class="col-sm-11">
        <input
          name="whitelist_words"
          type="text"
          class="form-control bg-dark border-dark text-muted"
          id="whitelist_words"
        />
        <div id="whitelist_words_help" class="form-text">
          The words to whitelist.
        </div>
      </div>
    </div>
  </div>

  <div class="p-2 mb-4 border border-dark">
    <h3>Blacklist</h3>
    {# Blacklist active #}
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="blacklist_active"
        name="blacklist_active"
        value="false"
      />
      <label class="form-check-label" for="blacklist_active"
        >Blacklist active</label
      >
      <div id="blacklist_active_help" class="form-text">
        Whether or not you want to use the blacklist.
      </div>
    </div>
    {# Blacklist words #}
    <div class="row pb-2">
      <label for="blacklist_words" class="col-sm-1 col-form-label"
        >Blacklist</label
      >
      <div class="col-sm-11">
        <input
          name="blacklist_words"
          type="text"
          class="form-control bg-dark border-dark text-muted"
          id="blacklist_words"
        />
        <div id="blacklist_words_help" class="form-text">
          The words to blacklist.
        </div>
      </div>
    </div>
  </div>

  <div class="p-2 mb-4 border border-dark">
    <h3>Other</h3>
    {# Unescape HTML #}
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="unescape_html"
        name="unescape_html"
        value="true"
      />
      <label class="form-check-label" for="unescape_html">Unescape HTML</label>
      <div id="unescape_html_help" class="form-text">
        Whether or not you want to unescape HTML. For example, &amp;amp; becomes
        &.
      </div>
    </div>
    {# Remove UTM #}
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="remove_utm"
        name="remove_utm"
        value="true"
      />
      <label class="form-check-label" for="remove_utm">Remove UTM params</label>
      <div id="remove_utm_help" class="form-text">
        Whether or not you want to remove UTM parameters from URLs. Read more
        here
        <a
          class="text-muted"
          href="https://en.wikipedia.org/wiki/UTM_parameters"
          >https://en.wikipedia.org/wiki/UTM_parameters</a
        >.
      </div>
    </div>
    {# Remove copyright symbols #}
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="remove_copyright"
        name="remove_copyright"
        value="true"
      />
      <label class="form-check-label" for="remove_utm"
        >Remove &copy;, &reg;, and &trade;</label
      >
      <div id="remove_utm_help" class="form-text">
        Whether or not you want to remove &copy;, &reg;, and &trade; symbols.
      </div>
    </div>
    {# Convert usernames to links #}
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="convert_usernames_to_links"
        name="convert_usernames_to_links"
        value="true"
      />
      <label class="form-check-label" for="convert_usernames_to_links"
        >Convert usernames to links</label
      >
      <div id="convert_usernames_to_links_help" class="form-text">
        Whether or not you want to convert usernames to links. For example,
        @username becomes
        <a class="text-muted" href="https://twitter.com/username">@username</a>.
      </div>
    </div>
    {# Username destination #}
    <div class="row pb-2">
      <label for="username_destination" class="col-sm-1 col-form-label"
        >Username destination</label
      >
      <div class="col-sm-11">
        <select
          name="username_destination"
          class="form-select bg-dark border-dark text-muted"
          id="username_destination"
        >
          <option value="twitter">Twitter</option>
          <option value="nitter">Nitter</option>
        </select>
        <div id="username_destination_help" class="form-text">
          The destination of the username links.
        </div>
      </div>
    </div>
    {# Convert hashtags to links #}
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="convert_hashtags_to_links"
        name="convert_hashtags_to_links"
        value="true"
      />
      <label class="form-check-label" for="convert_hashtags_to_links"
        >Convert hashtags to links</label
      >
      <div id="convert_hashtags_to_links_help" class="form-text">
        Whether or not you want to convert hashtags to links. For example,
        #hashtag becomes
        <a class="text-muted" href="https://twitter.com/hashtag/hashtag"
          >#hashtag</a
        >.
      </div>
    </div>
    {# Hashtag destination #}
    <div class="row pb-2">
      <label for="hashtag_destination" class="col-sm-1 col-form-label"
        >Hashtag destination</label
      >
      <div class="col-sm-11">
        <select
          name="hashtag_destination"
          class="form-select bg-dark border-dark text-muted"
          id="hashtag_destination"
        >
          <option value="twitter">Twitter</option>
          <option value="nitter">Nitter</option>
        </select>
        <div id="hashtag_destination_help" class="form-text">
          The destination for hashtags.
        </div>
      </div>
    </div>
  </div>
  <div class="d-md-flex">
    <button class="btn btn-dark btn-sm">Add feed</button>
  </div>
</form>
{% endblock %}
