{% extends "base.html" %}
{% block header %}
    {% block title %}
        Add a feed
    {% endblock title %}
{% endblock header %}
{% block content %}
    <form name="add" action="{{ url_for('feed') }}" method="post">
        <input type="hidden" id="uuid" name="uuid" value="{{ settings.uuid }}"/>
        {% include "add/1_feed_details.html" %}
        <br/>
        {% include "add/2_what_to_send.html" %}
        <br/>
        {% include "add/4_embed_settings.html" %}
        <br/>
        {% include "add/5_send_link.html" %}
        <br/>
        {% include "add/send_text.html" %}
        <br/>
        {% include "add/6_translate.html" %}
        <br/>
        {% include "add/8_other.html" %}
        <br/>
        <div class="d-md-flex">
            <button class="btn btn-dark btn-sm">Add feed</button>
        </div>
    </form>
{% endblock content %}
