{% extends 'base.html' %}
{% block header %}
    <h1>
        {% block title %}Feeds{% endblock %}
    </h1>
{% endblock %}
{% block content %}
    <div class="p-2 mb-2 border border-dark">
        <ul class="list-group">
            {% for feed in feeds %}
                <div class="feed">
                    <h2>
                        <a class="text-muted"  href="{{ feed.link }}">{{ feed.title }}</a>
                    </h2>
                    <p>{{ feed.url }}</p>
                </div>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
